@model MusicProject.Areas.admin.ViewModels.AdminViewModel
@{
    Layout = "";
}
<!doctype html>
<html lang="en" dir="ltr">
    @await Html.PartialAsync("/Views/Partials/HeaderPartial.cshtml") 
    <body class="  ">
        <!-- loader Start -->
        <div id="loading">
        <div class="loader simple-loader">
            <div class="loader-body ">
                <img src="~/assets/images/loader.gif" alt="loader" class=" img-fluid ">
            </div>
        </div>
        </div>
        <!-- loader END -->
    @await Html.PartialAsync("/Areas/admin/Views/Partials/AsidePartial.cshtml")
    <main class="main-content">
        @await Html.PartialAsync("/Areas/admin/Views/Partials/Navbar2.cshtml")
        <div class="content-inner container-fluid pb-0" id="page_layout">
      <div>
         <div class="row">
            <div class="col-xl-3 col-lg-4">
               <div class="card">
                  <div class="card-header d-flex justify-content-between">
                     <div class="header-title">
                        <h4 class="card-title">Add New User</h4>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-9 col-lg-8">
               <div class="card">
                  <div class="card-header d-flex justify-content-between">
                     <div class="header-title">
                        <h4 class="card-title">New User Information</h4>
                     </div>
                  </div>
                  <div class="card-body">
                     <div class="new-user-info">
                                    <form asp-action="AddUser">
                                        <div class="form-group">
                                            <label asp-for="User.UserName" class="control-label"></label>
                                            <input asp-for="User.UserName" class="form-control" />
                                            <span asp-validation-for="User.UserName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="User.Email" class="control-label"></label>
                                            <input asp-for="User.Email" class="form-control" />
                                            <span asp-validation-for="User.Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="User.PhoneNumber" class="control-label"></label>
                                            <input asp-for="User.PhoneNumber" class="form-control" />
                                            <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Password" class="control-label">Password</label>
                                            <input asp-for="Password" type="password" class="form-control" />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                        <!-- Add more fields as needed -->
                                        <button type="submit" class="btn btn-primary">Add User</button>
                                    </form>
                     </div>
                  </div>
               </div>
            </div>
                    <div class="card border-top mb-0">
                        <diiv class="card-body">
                            <div class="d-flex align-items-center justify-content-between flex-md-row flex-column gap-3">
                                <div class="">

                                    <small>
                                        Copyright <span id="copyright">
                                            <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                                        </span>. Made with love by Fakhri Mustafayev.
                                    </small>
                                </div>
                            </div>
                        </diiv>
                    </div>
                </div>
            </div>
        </div>
         </div>
      </div>
            </div>
        </main>
        <!--Footer Start-->
        <!-- Footer Section Start -->
@*        @await Html.PartialAsync("/Views/Partials/Footer.cshtml")  *@
        <!-- Footer Section End -->        <!--Footer End-->

        <!--Burger Menu Start-->
       @await Html.PartialAsync("/Views/Partials/BurgerMenu.cshtml")   
       <!--Burger Menu End-->

          <!-- Wrapper End-->
  @await Html.PartialAsync("/Views/Partials/Scripts.cshtml")
    </body>
</html>
