<!doctype html>
<html lang="en" dir="ltr">
@await Html.PartialAsync("/Views/Partials/HeaderPartial.cshtml")

<body class="  ">
    <!-- loader Start -->
    <div id="loading">
        <div class="loader simple-loader">
            <div class="loader-body ">
                <img src="~/assets/images/loader.gif" alt="loader" class=" img-fluid ">
            </div>
        </div>
    </div>

    @await Html.PartialAsync("/Areas/admin/Views/Partials/AsidePartial.cshtml")

    @RenderBody();

    <!-- Music Player -->
    @* @await Html.PartialAsync("/Views/Partials/Footer.cshtml") *@

    @await Html.PartialAsync("/Views/Partials/IqFloatMenu.cshtml")

    <!--Burger Menu End-->
    <!-- Wrapper End-->
    @await Html.PartialAsync("/Views/Partials/Scripts.cshtml")
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html> 