

<div class="sidebar-body pt-0 data-scrollbar">
    <div class="sidebar-list">
<!-- Sidebar Menu Start -->
<ul class="navbar-nav iq-main-menu" id="sidebar-menu">
            <li class="nav-item static-item mt-5">
                <a class="nav-link static-item disabled text-start" href="#" tabindex="-1">
                    <span class="custom-icon default-icon text-uppercase">Main</span>
                    <span class="mini-icon" data-bs-toggle="tooltip" title="Home" data-bs-placement="right">-</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#home-menu" role="button" aria-expanded="false"
                   aria-controls="home-menu">
                    <i class="icon" data-bs-toggle="tooltip" title="Dashboard" data-bs-placement="right">
                        <svg class="icon-20" xmlns="http://www.w3.org/2000/svg" width="20" class="icon-20" height="20" viewBox="0 0 20 20" fill="none">
                            <g clip-path="url(#clip0_389_2893)">
                                <path d="M16.875 16.875V9.02655C16.875 8.93945 16.8568 8.85332 16.8215 8.77367C16.7863 8.69403 16.7348 8.62263 16.6703 8.56405L10.4203 2.66249C10.3052 2.55774 10.1552 2.49969 9.99961 2.49969C9.844 2.49969 9.69399 2.55774 9.57891 2.66249L3.32891 8.56405C3.26459 8.6227 3.21323 8.69413 3.17811 8.77377C3.143 8.85341 3.12491 8.93951 3.125 9.02655V16.875" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M1.25 16.875H18.75" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M11.875 16.875V12.5C11.875 12.3342 11.8092 12.1753 11.6919 12.0581C11.5747 11.9408 11.4158 11.875 11.25 11.875H8.75C8.58424 11.875 8.42527 11.9408 8.30806 12.0581C8.19085 12.1753 8.125 12.3342 8.125 12.5V16.875" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                            </g>
                            <defs>
                                <clipPath id="clip0_389_2893">
                                    <rect width="20" height="20" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </i>
                    <span class="item-name">Home</span>
                    <i class="right-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" class="icon-18" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                        </svg>
                    </i>
                </a>
                <ul class="sub-nav collapse" id="home-menu" data-bs-parent="#sidebar-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Albums")">
                            <i class="icon">
                                <svg class="icon-10" width="10" viewBox="0 0 24 24" fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                        <circle cx="12" cy="12" r="8" fill="currentColor"></circle>
                                    </g>
                                </svg>
                            </i>
                            <i class="sidenav-mini-icon" data-bs-toggle="tooltip" title="Albums" data-bs-placement="right">
                                A
                            </i>
                            <span class="item-name">Albums</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#admin-menu" role="button" aria-expanded="false"
                   aria-controls="admin-menu">
                    <i class="icon" data-bs-toggle="tooltip" title="Admin" data-bs-placement="right">
                        <svg class="icon-20" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <g clip-path="url(#clip0_389_2900)">
                                <path d="M8.4375 12.5C11.0263 12.5 13.125 10.4013 13.125 7.8125C13.125 5.22367 11.0263 3.125 8.4375 3.125C5.84867 3.125 3.75 5.22367 3.75 7.8125C3.75 10.4013 5.84867 12.5 8.4375 12.5Z" stroke="currentColor" stroke-width="1.2" stroke-miterlimit="10" />
                                <path d="M1.875 15.625C3.48047 13.7148 5.74688 12.5 8.4375 12.5C11.1281 12.5 13.3945 13.7148 15 15.625" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M16.875 11.875C17.5654 11.875 18.125 11.3154 18.125 10.625C18.125 9.93464 17.5654 9.375 16.875 9.375C16.1846 9.375 15.625 9.93464 15.625 10.625C15.625 11.3154 16.1846 11.875 16.875 11.875Z" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M16.875 9.375V8.4375" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M15.7922 10L14.9805 9.53125" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M15.7922 11.25L14.9805 11.7188" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M16.875 11.875V12.8125" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M17.9578 11.25L18.7695 11.7188" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M17.9578 10L18.7695 9.53125" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                            </g>
                            <defs>
                                <clipPath id="clip0_389_2900">
                                    <rect width="20" height="20" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </i>
                    <span class="item-name">Admin</span>
                    <i class="right-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" class="icon-18" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                        </svg>
                    </i>
                </a>
                <ul class="sub-nav collapse" id="admin-menu" data-bs-parent="#sidebar-menu">
                    <li class="nav-item">
                        <a class="nav-link "
                           href="admin/dashboard.html">
                            <i class="icon">
                                <svg class="icon-10" width="10" viewBox="0 0 24 24" fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                        <circle cx="12" cy="12" r="8" fill="currentColor"></circle>
                                    </g>
                                </svg>
                            </i>
                            <i class="sidenav-mini-icon" data-bs-toggle="tooltip" title="Admin" data-bs-placement="right">
                                A
                            </i>
                            <span class="item-name"> Admin </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link "
                           href="admin/admin-category.html">
                            <i class="icon svg-icon">
                                <svg class="icon-10" width="10" viewBox="0 0 24 24" fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                        <circle cx="12" cy="12" r="8" fill="currentColor"></circle>
                                    </g>
                                </svg>
                            </i>
                            <i class="sidenav-mini-icon" data-bs-toggle="tooltip" title="Category" data-bs-placement="right">
                                C
                            </i>
                            <span class="item-name">Category</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link "
                           href="admin/admin-writer.html">
                            <i class="icon">
                                <svg class="icon-10" width="10" viewBox="0 0 24 24" fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                        <circle cx="12" cy="12" r="8" fill="currentColor"></circle>
                                    </g>
                                </svg>
                            </i>
                            <i class="sidenav-mini-icon" data-bs-toggle="tooltip" title="Writer" data-bs-placement="right">
                                W
                            </i>
                            <span class="item-name">Writer</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link "
                           href="admin/admin-singer.html">
                            <i class="icon">
                                <svg class="icon-10" width="10" viewBox="0 0 24 24" fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                        <circle cx="12" cy="12" r="8" fill="currentColor"></circle>
                                    </g>
                                </svg>
                            </i>
                            <i class="sidenav-mini-icon" data-bs-toggle="tooltip" title="Singer" data-bs-placement="right">
                                S
                            </i>
                            <span class="item-name">Singer</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link "
                           href="admin/admin-song.html">
                            <i class="icon">
                                <svg class="icon-10" width="10" viewBox="0 0 24 24" fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                        <circle cx="12" cy="12" r="8" fill="currentColor"></circle>
                                    </g>
                                </svg>
                            </i>
                            <i class="sidenav-mini-icon" data-bs-toggle="tooltip" title="Muzic" data-bs-placement="right">
                                M
                            </i>
                            <span class="item-name">Muzic</span>
                        </a>
                    </li>
                </ul>
            </li>
            @if (Model.User != null && Model.User.UserName == "Admin")
            {
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#sidebar-user" role="button" aria-expanded="false"
                       aria-controls="sidebar-user">
                        <i class="icon" data-bs-toggle="tooltip" title="Users" data-bs-placement="right">
                            <svg class="icon-20" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <g clip-path="url(#clip0_389_11969)">
                                    <path d="M10 12.5C12.7614 12.5 15 10.2614 15 7.5C15 4.73858 12.7614 2.5 10 2.5C7.23858 2.5 5 4.73858 5 7.5C5 10.2614 7.23858 12.5 10 12.5Z" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M2.5 16.875C4.01328 14.2602 6.76172 12.5 10 12.5C13.2383 12.5 15.9867 14.2602 17.5 16.875" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_389_11969">
                                        <rect width="20" height="20" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </i>
                        <span class="item-name">Users</span>
                        <i class="right-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" class="icon-18" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                            </svg>
                        </i>
                    </a>
                    <ul class="sub-nav collapse" id="sidebar-user" data-bs-parent="#sidebar-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="app/user-add.html">
                                <i class="icon">
                                    <svg class="icon-10" width="10" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <g>
                                            <circle cx="12" cy="12" r="8" fill="currentColor"></circle>
                                        </g>
                                    </svg>
                                </i>
                                <i class="sidenav-mini-icon" data-bs-toggle="tooltip" title="Add User" data-bs-placement="right"> A </i>
                                <span class="item-name">Add User</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="app/user-list.html">
                                <i class="icon">
                                    <svg class="icon-10" width="10" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <g>
                                            <circle cx="12" cy="12" r="8" fill="currentColor"></circle>
                                        </g>
                                    </svg>
                                </i>
                                <i class="sidenav-mini-icon" data-bs-toggle="tooltip" title="User List" data-bs-placement="right"> U </i>
                                <span class="item-name">User List</span>
                            </a>
                        </li>
                    </ul>
                </li>
            }

</ul>

<!-- Sidebar Menu End -->        </div>
</div>
<div class="sidebar-footer">
</div>